* {
	margin: 0;
}
.nav {
	display: flex;
	background-color: #23232e;
	top:0;
	width: 100%;
	height: 8vh;
	color: #fff;
	font-family: system-ui, -apple-system, Helvetica, Arial;
	align-items: center;
	justify-content:space-between;
}
img{
    height: 32px;
    margin: 0 2rem 0 2rem;
}
.books{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-top: 1rem;
}
table, th, td {
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    background-color: #fff;
}
table{
    width: 75%;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 0.6rem;
    width: 20rem;
    height: 1.6rem;
}