{% extends 'base.html' %}

{% block body%}
<div class="books">
        <table>
                <tr class='top'>
                    <td>Livro</td>
                    <td>Autor</td>
                    <td>Ano</td>
                </tr>
            {% for books in books %}
                <tr>
                    <td>{{ books.name }}</td>
                    <td>{{ books.auth }}</td>
                    <td>{{ books.year }}</td>
                </tr>
            {% endfor %}
</div>
{% endblock%}